* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-image: url('../images/bg-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // height:100%;
    // width: 100%;
    font-family: $font-google;
}

.wrapper {
    max-width: 1540px;
    height:100%;
    margin: auto;
    padding: 20px 10px;
}